<div class="panel panel-default">
  <div class="panel-body">
  	<h2><%= article.title %></h2>
    <small>Published On: <%= article.publication_date%></small>
    <small>Author: <%= article.author%></small>
  	<p>Link: <%= article.link %></p>
    <p>Summary: <%= article.summary %></p>
    <p>
      <% unless article.images.nil? %>
          <img src="<%= article.images %>"/>
      <%end%>

    </p>
  	<p>Tags: <%= article.tag_list.join(', ') %></p>
    <p>Source: <%= Source.find_by(article.source_id).name%></p>
  	
    <div class="btn-group pull-right" role="group">
	  	<%= link_to 'Show', article, class: "btn btn-default" %>
	  </div>
  </div>
</div>