<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @article.source.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @article.publication_date %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @article.summary %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Images:</strong>
  <img src = <%= @article.images %> />
</p>

<p>
  <strong>Link:</strong>
  <%= @article.link %>
</p>

<p>
  <strong>tags:</strong>
  <%= @article.tag_list.join(", ") %>
</p>

<%= link_to 'Back', articles_path %>
